@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-1E213F;
}

h3 {
  @apply text-600-mobile sm:text-600-desktop text-center text-161932 pb-4 sm:pb-0 uppercase;
}

.modalBackground {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.clockBackground {
  background: linear-gradient(315deg, #2e325a 0%, #0e112a 100%);
  box-shadow: -50px -50px 100px #272c5a, 50px 50px 100px #121530;
}

.progress__div {
  transform: rotate(-90deg);
}

.redHover:hover {
  color: #f87070;
}

.cyanHover:hover {
  color: #70f3f8;
}

.violetHover:hover {
  color: #d881f8;
}
